body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav { padding: 0 15px }
.page-footer { padding: 0 }
.container {
  max-width: 1332px;
  margin: 0 auto;
}
.content {
  padding: 1.5rem 0;
  min-height: calc(100vh - 64px - 50px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 15px;
  height: auto;
  width: 300px;
  transition: all 0.4s ease;
}
.card:hover { transform: scale(1.1) }

.card .card-content { padding: 15px }
.card-content { flex-grow: 1 }
.card-action .price { font-size: 22px }



.cart {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;

  cursor: pointer;
  z-index: 5;
  padding: 1rem;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
    left: unset;
    right: 2rem
  }
}
